@model BookReader.Models.WishList.GetWishListsViewModel

@{
    ViewBag.Title = "WishLists";
}

<h1>Моя библиотека</h1>

<p><a class="btn btn-default" href="/WishList/Create/">Создать новый список желаний &raquo;</a></p>
<br />

@if (Model.wishLists != null)
{
<div class="wishlists-content">
    @foreach (var wishList in Model.wishLists)
    {
    <div class="wishList">
        <a class="wishList-name" href="/WishList/Details/@wishList.Id"><u>@wishList.Name @*&raquo;*@</u></a>
        <div id="delete-wishList"><a class="btn btn-default" href="/WishList/Delete/@wishList.Id">Удалить список желаний &raquo;</a></div>
        <br />
    </div>
    }
</div>
}
