@model BookReader.Models.WishList.GetWishListsViewModel

@{
    ViewBag.Title = "WishLists";
}

<h1>Моя библиотека</h1>

<p><a class="btn btn-default" href="/WishList/Create/">Создать новый список желаний &raquo;</a></p>

@if (Model.wishLists != null)
{

    foreach (var wishList in Model.wishLists)
    {
        <p><a href="/WishList/Details/@wishList.Id">@wishList.Name &raquo;</a> <a class="btn btn-default" href="/WishList/Delete/@wishList.Id">Удалить список желаний &raquo;</a></p>
    }
}
