body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.element {
    width: 150px;
    display: inline-block;
    /*height: 200px;*/
    margin-top: 15px;
    /*margin-bottom: 15px;
    padding-bottom: 15px;*/
    vertical-align: top;
    /*text-align: center;*/
}

#column-1 {
    width: 20%;
    float: left;
    min-height: 100%;
}

#column-2 {
    width: 58%;
    min-height: 100%;
    float: left;
    display: inline-block;
    border-left: thin solid #ccc;
    border-right: thin solid #ccc;
    padding-left: 15px;
    padding-right: 15px;
    /*text-align: center;*/
    margin-top: 0;
}

#column-3 {
    width: 20%;
    min-height: 100%;
    float: left;
    padding-left:40px;
}
#image-book{
    padding-bottom:20px;
}
.books-genres-authors {
    margin-top: 15px;
    overflow: hidden;
    padding-bottom: 80px;
}
.books-info, .genres-info, .authors-info, .reed-book, .back-button{
    margin-top:15px;
}
#model-name{
    margin-left:0;
    padding-left:0;
}
.search{
    margin-top:12px;
}
footer{
    width:100%;
    background: #000;
    color:white;
    text-align:center;
    overflow:hidden;
    height:50px;
    margin-top: -50px;
}
body, html{
    padding-bottom:0;
    height:100%;
}
.container.body-content{
    min-height:100%;
}
.wrapper, .authors-info {
    padding-bottom: 80px;
}
.search-result{
    display:inline-block;
    padding-right:15px;
    padding-bottom:15px;
}
.books-info, .genres-info, .books-in-genre, .books-author, .edit-content, .create-book-content, .users-info, .search-results, .wishlists-content {
    padding-bottom: 80px;
}
.btn-group{
    margin-top:10px;
    padding-left:10px;
}
.upload-files{
    margin-left:12px;
    padding-top:0;
}
.loading-files {
    margin-left: 80px;
    padding-top: 30px;
}
.genres-authors-create {
    margin-left: 70px;
}
.create-button-save {
    padding-left: 90px;
}
.name-authors-genres, .image {
    float: left;
    margin: 0 10px;
    margin-top: 10px;
}

.title {
    margin: 1em 0 0.5em 0;
    color: #343434;
    font-size: 22px;
    line-height: 40px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: 'Orienta', sans-serif;
    letter-spacing: 1px;
    font-style: italic;
}

.annotation {
    text-align: justify;
    width: 800px;
}

.hr {
    border: none; 
    background-color: grey;
    color: red; 
    height: 2px;
}

.body {
    text-align: justify;
}
/*.form-group {
    margin: 20px;
    padding: 20px;
}*/


.name-authors-genres {
    width: 70%;
    height:350px;
}

.title {
    margin: 1em 0 0.5em 0;
    color: #343434;
    font-size: 22px;
    line-height: 40px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: 'Orienta', sans-serif;
    letter-spacing: 1px;
    font-style: italic;
    margin-top:0;
}

.book-body {
    width: 90%;
    text-align: justify;
}
.wishList{
    margin-top:10px;
}
#delete-wishList {
    margin-left: auto;
}
.books-in-genre, .books-in-author {
    display: inline-block;
    margin-right: 15px;
}
.btn-group{
    padding-left:0;
}
.search-book{
    margin-left: 10px;
    margin-right:10px;
}
.col-md-10 {
    padding-left: 0;
}
.wishList-name{
    font-size:18px;
}