@model BookReader.Models.GenreViewModel

@{
    ViewBag.Title = "Details";
}
    <div class="books-in-genre">
        <h1>Все книги жанра @Model.Name</h1>

        <div>
            <hr />
            <div class="genre-details">
                @foreach (var book in Model.Books)
                {
                    <span class="books-in-genre">
                        <a href="/Book/Details/@book.Id">
                            <img src="@book.Cover" width="150" , height="200" />
                            <p>@book.Name</p>
                        </a>
                    </span>
                }
            </div>
        </div>
        <div>
            <p><a class="btn btn-default" href="/Home/Index">Назад &raquo;</a></p>
        </div>
    </div>