
@{
    ViewBag.Title = "Statistics";
}


    <h2> Статистика по зарегистрированным пользователям</h2>

    <p><img src="@Url.Action("ChartArrayBasic", "Admin")" /> </p>


    <div>
        @Html.ActionLink("Назад", "AdminPanel")
    </div>
