
@{
    ViewBag.Title = "Statistics";
}

<html>
<head>
    <title>Статистика</title>
</head>
<body>
    <p>
        Статистика по зарегистрированным пользователям
    </p>
    <p><img src="@Url.Action("ChartArrayBasic", "Admin")" /> </p>
</body>
</html>


